{% extends 'base.html' %}
{% load static %}

{% block title %}Game{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<meta name="username" content="{{ user.username }}">
{% endif %}

<!-- Pong -->
<div id="pongContainer" class="container-fluid h-100" style="display: none;">
    <div class="row">
        <div class="col-1 d-flex button-alignment">
            <div id="player1" class="row">
                <p id="player1name"></p>
                <div class="row">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button type="button" class="btn btn-light">&uarr; Q</button>
                        <button type="button" class="btn btn-light">&darr; A</button>
                    </div>
                </div>
            </div>

            <div id="player3" class="row">
                <p id="player3name"></p>
                <div class="row">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button type="button" class="btn btn-accent">&uarr; D</button>
                        <button type="button" class="btn btn-accent">&darr; C</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10">
            <div class="d-flex justify-content-evenly">
                <button id="visualModeButton" type="button" class="btn btn-light fa fa-eye-slash" data-toggle="tooltip"
                    data-placement="top" title="Visual Impaired Mode"></button>
                <button id="pauseMenuButton" type="button" class="btn btn-light fa fa-pause" data-toggle="tooltip"
                    data-placement="top" title="Pause Menu"></button>
                <button id="muteButton" type="button" class="btn btn-light fas fa-volume-up" data-toggle="tooltip"
                    data-placement="top" title="Mute/Unmute Sound"></button>
            </div>

            <div class="game-container">
                <canvas id="pongGame" class="d-block">Pong Game</canvas>
                <!-- <div id="titleOverlay" class="overlay-text title">PONG</div> -->
                <!-- <div id="startOverlay" class="overlay-text start">Press <kbd>Enter &crarr;</kbd> to Start</div> -->
            </div>
        </div>

        <div class="col-1 d-flex button-alignment">
            <div id="player2" class="row">
                <p id="player2name"></p>
                <div class="row">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button type="button" class="btn btn-light text-dark">&uarr; P</button>
                        <button type="button" class="btn btn-light text-dark">&darr; L</button>
                    </div>
                </div>
            </div>

            <div id="player4" class="row">
                <p id="player4name"></p>
                <div class="row">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button type="button" class="btn btn-accent">&uarr; J</button>
                        <button type="button" class="btn btn-accent">&darr; N</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Winner Pop-up-->
<div id="winnerpopup" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Pong Game</h1>
            </div>
            <div class="modal-body">
                <h1>Game Over!</h1>
                <h2 id="winner"></h2>
            </div>
            <div class="modal-footer">
                <button id="playAgainButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Play
                    Again!</button>
                <a href="{% url 'home' %}" class="btn btn-secondary spa-link" data-toggle="tooltip" data-placement="top"
                    title="Back to Home" data-method="GET" data-bs-dismiss="modal">Back to Home</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tounament Winner Pop-up-->
<div id="winnerTpopup" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="staticBackdropLabel">Pong Game</h1>
            </div>
            <div class="modal-body">
                <h2 id="winnerT"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark-orange" data-bs-dismiss="modal" onclick="nextGame()">Next
                    Match!</button>
                <button type="button" class="btn btn-dark-orange">Back to Home Page</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tounament FINAL Winner Pop-up-->
<div id="winnerFinalpopup" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #fec66b;">
            <div class="modal-header">
                <h1 class="modal-title" id="staticBackdropLabel">Pong Game</h1>
            </div>
            <div class="modal-body">
                <h2 id="winnerF"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark-orange">Back to Home Page</button>
            </div>
        </div>
    </div>
</div>

<!-- Game Settings Modal -->
<div id="gameSettingsModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 id="staticBackdropLabel" class="modal-title fs-4">Pong Configurations</h1>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Mode (level) button -->
                    <label for="difficultyDropdownButton">Difficulty*</label>
                    <div class="dropdown">
                        <!-- Dropdown will default to Medium -->
                        <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                            id="difficultyDropdownButton">Medium</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Easy</a></li>
                            <li><a class="dropdown-item" href="#">Medium</a></li>
                            <li><a class="dropdown-item" href="#">Hard</a></li>
                            <li><a class="dropdown-item" href="#">Custom</a></li>
                        </ul>
                    </div>
                    <!-- Custom Configuration (hidden by default) -->
                    <div id="customConfig" class="mb-3 mt-4" style="display: none;">
                        <div>
                            <label for="ballspeed" class="form-label">Ball Speed</label>
                            <input type="range" class="form-range" id="ballspeed" min="5" max="40" step="1">
                        </div>
                        <div>
                            <label for="playerspeed" class="form-label">Paddle Speed</label>
                            <input type="range" class="form-range" id="playerspeed" min="5" max="60" step="1">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="backToPauseMenuFromSettings" type="button" class="btn btn-secondary">Back</button>
                <button id="applyConfigButton" type="button" class="btn btn-dark-orange"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% include "includes/help.html" %}

<!-- Player Name Modal -->
<div id="playerNamesModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="playerNamesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="playerNamesModalLabel">Enter names to start</h5>
            </div>
            <div class="modal-body">
                <form id="playerNamesForm">
                    <!-- Form input elements will be generated dynamically -->
                    <div id="playerNamesContainer" class="mb-4"></div>
                    <div id="gameSettings">
                        <h5 class="text-center mb-2">Game Settings</h5>
                        <label for="difficultyDropdownButton">Difficulty*</label>
                        <div class="dropdown mb-3">
                            <!-- TODO: need to make this be required -->
                            <!-- Dropdown will default to Medium -->
                            <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                id="difficultyDropdownButton">Medium</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Easy</a></li>
                                <li><a class="dropdown-item" href="#">Medium</a></li>
                                <li><a class="dropdown-item" href="#">Hard</a></li>
                                <!-- TODO: add custom setting -->
                            </ul>
                        </div>
                        <div class="div">
                            <!-- TODO: need to make this be required -->
                            <label for="scoreSlider">Score To Win: <span id="scoreDisplay">5</span></label>
                            <input type="range" id="scoreSlider" name="scoreToWin" class="form-range" required min="1"
                                max="10" value="5"
                                oninput="document.getElementById('scoreDisplay').innerText = this.value">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary spa-link" href="{% url 'home' %}" data-method="GET"
                    data-bs-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-accent" form="playerNamesForm">Start</button>
            </div>
        </div>
    </div>
</div>

<!-- Quit Confirmation Modal -->
<div id="quitConfirmationModal" class="modal" tabindex="-1" aria-labelledby="quitConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quitConfirmationLabel">Confirm Quit</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to quit? Your game progress will not be saved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="confirmQuitButton" type="button" class="btn btn-danger">Quit</button>
            </div>
        </div>
    </div>
</div>

<!-- Pause Menu Modal -->
<div id="pauseMenuModal" class="modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="pauseMenuLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="pauseMenuLabel">Pause Menu</h5>
            </div>
            <div class="modal-body text-center">
                <div class="border">
                    <button id="resumeGameButton" type="button" class="pause-btn">Resume Game</button>
                </div>
                <div class="">
                    <button id="settingsButton" type="button" class="pause-btn">Game Settings</button>
                </div>
                <div class="">
                    <button id="helpButton" type="button" class="pause-btn">Help</button>
                </div>
                <div class="">
                    <button id="backToHomeButton" type="button" class="pause-btn">Quit</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
